<a href="https://colab.research.google.com/github/mouleshgs/ml/blob/main/titanic_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
!wget https://raw.githubusercontent.com/Esai-Keshav/titanic-survival-prediction/refs/heads/main/data/test.csv -O test.csv

--2025-07-22 17:36:08--  https://raw.githubusercontent.com/Esai-Keshav/titanic-survival-prediction/refs/heads/main/data/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 28629 (28K) [text/plain]
Saving to: ‘test.csv’

test.csv            100%[===================>]  27.96K  --.-KB/s    in 0s

2025-07-22 17:36:09 (171 MB/s) - ‘test.csv’ saved [28629/28629]

In [67]:
!wget https://raw.githubusercontent.com/Esai-Keshav/titanic-survival-prediction/refs/heads/main/data/train.csv -O train.csv

--2025-07-22 17:36:09--  https://raw.githubusercontent.com/Esai-Keshav/titanic-survival-prediction/refs/heads/main/data/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61194 (60K) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>]  59.76K  --.-KB/s    in 0.001s

2025-07-22 17:36:09 (66.8 MB/s) - ‘train.csv’ saved [61194/61194]

In [68]:
!wget https://raw.githubusercontent.com/Esai-Keshav/titanic-survival-prediction/refs/heads/main/data/gender_submission.csv -O gender_submission.csv

--2025-07-22 17:36:09--  https://raw.githubusercontent.com/Esai-Keshav/titanic-survival-prediction/refs/heads/main/data/gender_submission.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3258 (3.2K) [text/plain]
Saving to: ‘gender_submission.csv’

gender_submission.c 100%[===================>]   3.18K  --.-KB/s    in 0s

2025-07-22 17:36:09 (47.5 MB/s) - ‘gender_submission.csv’ saved [3258/3258]

In [69]:
!pwd

/content

In [70]:
import pandas as pd
import numpy as np

df = pd.read_csv("train.csv");

df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [71]:
df.drop(columns=['PassengerId', 'Cabin', 'Name', 'Ticket'], inplace=True)

In [72]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [73]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [74]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [75]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [76]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [77]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [78]:
print(df.dtypes)

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [79]:
df['Age'] = df['Age'].astype(int)

In [80]:
print(df.dtypes)

Survived      int64
Pclass        int64
Sex          object
Age           int64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [81]:
df['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [82]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [85]:
df.Sex

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64